* {
	margin: 0;
	padding: 0;
	font-family: Serif;
}
header {
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(pic/bg/12.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}
.main ul {
	list-style: none;
	float: right;
	margin-top: 20px;
}
.main ul li {
	display: inline-block;
}
.main ul li a {
	text-decoration: none;
    color: #fff;
    font-size: 18px;
	padding: 5px 15px;
}
.main ul li a:hover {
    color: rgb(199, 5, 5);
}
.logo h4 {
	color: #ad0202;
	float: left;
    margin-top: 10px;
    font-size: 25px;
}
.logo h4 b {
	color: rgb(255, 255, 255);
}
.main {
	max-width: 1200px;
	margin: auto;
}
.title {
	position: absolute;
	top: 35%;
	left: 25%;

}
.title h3 {
    color: #fff;
    font-size: 40px;
    margin-left: 230px;
    margin-bottom: 20px;
}
.title h1 {
	color: #fff;
	font-size: 140px;
}
.title h1 b {
    color: red;
}
.title h4 {
    color: #fff;
    font-size: 40px;
    margin-top: 20px;
    margin-left: 128px;
}
.content {
    max-width: 1400px;
	margin: auto;
}
.sidebar {
    width: 450px;
    float: left;
    margin-top: 40px;
}
.sidebar h1 {
    color: red;
    font-size: 30px;
}
.sidebar h1 b {
    color: rgb(3, 5, 110);
}
.sidebar h5 {
    margin-bottom: 40px;
    color: slategrey;
}
.recent-news {
    width: 450px;
    margin-bottom: 20px;
}
.recent-news img {
    float: left;
    height: 113px;
    width: 188px;
}
.recent-news text {
    float: left;   
}
.recent-news h2 {
    color: red;
    margin-left: 200px; 
    margin-bottom: 5px;
    font-size: 20px;
}
.recent-news P {
    color: slategray;
    margin-left: 200px; 
    font-size: 12px;
}
.popular-place {
    float: left;
    width: 580px;
    margin-top: 40px;
    margin-left: 20px;
}
.popular-place h1 {
    color: red;
    font-size: 30px;    
}
.popular-place h1 b {
    color: rgb(11, 2, 134);
}
.popular-place h5 {
    color: slategray;
    margin-bottom: 40px;
}
.popular-place img {
    height: 350px;
    width: 480px;
}
.testmonials {
    float: left;
    width: 300px;
    margin-top: 40px;
    margin-left: 20px;
}
.testmonials h1 {
    color: red;
    font-size: 30px;    
}
.testmonials h1 b {
    color: rgb(11, 2, 134);
}
.testmonials h5 {
    color: slategray;
    margin-bottom: 40px;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
.card img {
    width: 80px;
    height: 80px;
    border: 2px solid;
    border-radius: 50%;
    margin-left: 100px;   
}
.card h1 {
    font-size: 30px;
    margin-top: 5px;
    color: red;
}  
.card p {
    color:black;
    font-size: 18px;
    margin: 20px;
  }
.card a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}
.about-us {
    max-width: 1400px;
    margin-top: 635px;
    margin-left: 50px;
    padding-bottom: 45px;
}
.info h1 {
    color: red;
    margin-bottom: 25px;
    font-size: 30px;
}
.info h1 b {
    color: rgb(11, 2, 134);
}
.info p{
    float: left;
    width: 700px;
    font-size: 15px;
}
.about-us button {
    border: 1px solid;
    padding: 7px 25px;
    background-color: white;
}
.about-us button:hover {
    background-color:black;
    color: #fff;
}
.about-us img {
    float: left;
    height: 400px;
    width: 680px; 
    margin-left: 20px;
}
.plan {
    text-align: center;
    width: 1475px;
}
.plan h1 {
    color: red;
    font-size: 30px;
}
.plan h1 b {
    color: rgb(11, 2, 134);
}
.plan h5 {
    font-size: 15px;
    padding-bottom: 30px;
}
.direction {
    width: 300px;
    float: left;
    margin-left: 50px;
}
.direction h4 {
    color: black;
    margin-top: 35px;
}
.direction P {
    margin-top: 30px;
}
.direction a {
    color: red;
    text-decoration: none;
}
.resortin {
    max-width: 1400px;
    margin: auto;
    text-align: center;
    padding-top: 315px;
}
.resortin h1 {
    color: red;
    font-size: 30px;
}
.resortin h1 b {
    color: rgb(3, 5, 110);
}
.resortin p {
    margin-bottom: 40px;
    color: slategrey;
}
.bar {
    width: 450px;
    float: left;
    margin-top: 40px;
}
.news {
    width: 445px;
    margin-bottom: 10px;
    border: 1px solid;
}
.news img {
    float: left;
    height: 133px;
    width: 188px;
    padding-top: 20px;
    padding-left: 12px;
}
.news text {
    float: left;   
}
.news h2 {
    color: red;
    margin-left: 200px; 
    padding-top: 10px;
    font-size: 20px;
}
.news P {
    color: slategray;
    margin-left: 200px; 
    font-size: 12px;
}
.side-img {
    width: 900px;
    float: left;
}
.side-img img {
    height: 536px;
    width: 970px;
    margin-top: 40px;
}
.slider-ber {
    width: 1400px;
    padding-top: 640px;
    padding-left: 100px;
}
.slider {
    float: left;
    width: 875px;
}
.gallery {
    float: left;
    width: 420px;
    text-align: center;
    background: #eae9e9;
}
.gallery h1 {
    color: red;
    font-size: 30px;
    margin-top: 145px;
}
.gallery h1 b {
    color: rgb(3, 5, 110);
}
.gallery h5 {
    font-size: 15px;
    padding-bottom: 30px;
    color: slategray;
}
.gallery p {
    margin-bottom: 40px;
    color:black;
    padding: 43px;
}
.carousel-control-next {
    right: -375px;
    top: 415px;
}
.carousel-control-prev {
    left: 895px;
    top: 415px;
}
.contain1 {
    position: relative;
    margin-top: 515px;
  }
.contain1 img {
    width:100%;
    height: 450px;
    padding-top: 30px;
}  
.text-block {
    position: absolute;
    text-align: center;
    bottom: 0px;
    right: 0px;
    color: white;
    padding: 93px;
    background: rgba(0, 0, 0, 0.5);
  }
.text-block p {
    padding: 40px;
}
.contain1 button {
    padding: 5px 40px;
    background-color: red;
    border: 0px;
    border-radius: 20px;
    color: #fff;
}
.contain1 button:hover {
    background-color: white;
    color: black;
}
.traveller {
    width: 1400px;
    text-align: center;
    padding-left: 100px;
}
.traveller h1 {
    color: red;
    font-size: 30px;
    margin-top: 145px;
}
.traveller h1 b {
    color: rgb(3, 5, 110);
}
.traveller h5 {
    font-size: 15px;
    padding-bottom: 30px;
    color: slategray;
}
.slideshow-container {
    position: relative;
    background: #fff;
    border: 1px solid;
    padding: 33px 33px;
    margin: 0px 20px;
}
.mySlides {
    text-align: center;
    background-color: #0e0e3c;
    color: white;
    width: 1100px;
    border-radius: 155px 0px 0px 155px;
    height: 300px;
    margin-left: 35px;
}
.mySlides img {
    width: 300px;
    height: 300px;
    border: 1px solid;
    border-radius: 50%;
    float: left;
}
.mySlides h2 {
    color: #fff;
    padding-top: 84px;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: 0px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
}
.dot-container {
    text-align: center;
    padding: 20px;
    background: #fff;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
} 
.active, .dot:hover {
    background-color: #717171;
}
q {font-style: italic;}
.author {color: cornflowerblue;}
.moments {
    width: 1400px;
    text-align: center;
}
.moments h1 {
    color: red;
    font-size: 30px;
    margin-top: 45px;
    padding-left: 135px;
}
.moments h1 b {
    color: rgb(3, 5, 110);
}
.moments h5 {
    font-size: 15px;
    padding-bottom: 30px;
    padding-left: 135px;
    color: slategray;
}
.event-moments-info {
    width: 1400px;
    padding: 10px;
}
.moments-info {
    width: 590px;
    float: left;
    text-align: left;
    margin: 10px 10px 10px 90px;
}
.moments-info img {
    height: 330px;
    width: 650px;
}
.moments-info h5 {
    margin-top: 20px;
    padding-left: 0px;
}
.moments-info h1 {
    font-size: 30px;
    color: black;
    margin-top: 0px;
    padding-left: 0px;
}
.moments-info p {
    color: black;
    margin-top: 20px;
    font-size: 12px;
}
.moments-info button {
    border: 0px solid;
    padding: 7px 25px;
    border-radius: 20px;
    color: #fff;
    background-color: rgb(175, 6, 6);  
}
.info-contain {
    position: relative;
    margin: 0 auto;
    padding-bottom: 40px;
  }
.info-contain img {
    width:100%;
    height: 450px;
    padding-top: 30px;
}  
.info-block {
    position: absolute;
    text-align: center;
    bottom: 115px;
    right: 195px;
    color: white;
    padding: 83px;
    background: rgba(228, 227, 227, 0.5);
}
.info-contain h1 {
    float: left;
    color: black;
}
.info-contain button {
    float: left;
    padding: 10px 40px;
    background-color: red;
    border: 0px;
    border-radius: 20px;
    color: #fff;
    margin-left: 60px;
}
.info-contain button:hover {
    background-color: rgb(3, 5, 110);
}
footer {
    width: 100%;
    background-color: rgb(3, 5, 110);
    height: 60vh;
	background-size: cover;
	background-position: center;
    margin-top: 20px;
    padding: 10px;
}
.coloum {
    width: 1500px;
    padding: 50px 60px;
}
.coloum1 {
    width: 450px;
    float: left;
    padding-left: 30px;
    padding-right: 40px;
}
.coloum1 h1 {
    color: red;
    font-size: 40px;
}
.coloum1 h1 b {
    color: rgb(253, 253, 253);
}
.coloum1 p {
    color: white;
    font-size: 12px;
}
.coloum2 {
    width: 225px;
    float: left;
}
.coloum2 h3 {
    color: white;
}
.coloum2 ul {
    list-style: none;
    margin-top: 15px;
}
.coloum2 ul li {
    padding: 5px 0px;
    line-height: 25px;
}
.coloum2 ul li a {
	text-decoration: none;
    color: white;
    font-size: 15px;
}
.coloum3 {
    width: 225px;
    float: left;
}
.coloum3 h3 {
    color: white;
}
.coloum3 ul {
    list-style: none;
    margin-top: 15px;
}
.coloum3 ul li {
    padding: 5px 0px;
    line-height: 20px;
}
.coloum3 ul li a {
	text-decoration: none;
    color: white;
    font-size: 15px;
}
.coloum4 {
    width: 450px;
    float: left;
}
.coloum4 h3 {
    color: white;
}
.coloum4 img {
    width: 105px;
    height: 85px;
    margin-top: 15px;
    margin-left: 3px;
}
.footer-bottom {
    text-align: center;
    color: white;
    margin-top: 290px;
}
.footer-bottom a {
    text-decoration: none;
    color: red;
}





@media (max-width: 320px) {
    header {
        background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(pic/bg/12.jpg);
        height: 100vh;
        width: 575px;
        background-size: cover;
        background-position: center;
    }
    .logo h4 {
        width: 320px;
        color: #ad0202;
        text-align: center;
        margin-top: 10px;
        font-size: 25px;
    }
    .main {
        width: 320px;
        text-align: center;
    }
    .main ul {
        list-style: none;
        margin-top: 10px;
    }
    .main ul li {
        display: inline-block;
    }
    .main ul li a {
        text-decoration: none;
        color: #fff;
        font-size: 18px;
        float: left;
        padding: 5px 43px;
    }
    .main ul li a:hover {
        color: rgb(199, 5, 5);
    }
    .title {
        position: absolute;
        width: 320px;
        top: 65%;
        left: 0%;
    
    }
    .title h3 {
        text-align: center;
        color: #fff;
        font-size: 20px;
        margin-left: 0px;
        margin-bottom: 0px;
        margin-top: 25px;
    }
    .title h1 {
        color: #fff;
        text-align: center;
        font-size: 70px;
        margin-bottom: 0;
    }
    .title h4 {
        color: #fff;
        text-align: center;
        font-size: 20px;
        margin-top: 0px;
        margin-left: 0px;
    }
    .sidebar {
        width: 300px;
        text-align: center;
        margin-top: 40px;
    }
    .recent-news {
        width: 300px;
        margin: 10px;
    }
    .recent-news img {
        height: 200px;
        width: 300px;
    }
    .recent-news h2 {
        color: red;
        padding-top: 215px;
        margin-bottom: 5px;
        margin-left: 0;
        font-size: 20px;
    }
    .recent-news P {
        color: slategray; 
        font-size: 12px;
        margin-left: 0;
    }
    .popular-place {
        width: 300px;
        margin-top: 10px;
        text-align: center;
        margin: 10px;
    }
    .popular-place img {
        height: 200px;
        width: 300px;
    }
    .testmonials {
        text-align: center;
        width: 300px;
        margin-top: 10px;
        margin: 10px;
    }
    .testmonials h1 {
        margin-top: 30px;
        color: red;
        font-size: 30px;    
    }
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 300px;
        margin: auto;
        text-align: center;
        font-family: arial;
        margin-bottom: 20px;
      }
    .about-us {
        width: 300px;
        text-align: center;
        margin-top: 10px;
        margin: 10px;
    }
    .info p{
        width: 300px;
        font-size: 10px;
    }
    .about-us img {
        height: 200px;
        width: 300px; 
        margin: 0px;
    }
    .about-us button {
        margin-top: 20px;
        border: 1px solid;
        padding: 3px 95px;
        background-color: white;
    }
    .about-us button:hover {
        background-color:black;
        color: #fff;
    }
    .plan {
        text-align: center;
        width: 300px;
        margin: 10px;
    }
    .plan h5 {
        font-size: 10px;
    }
    .direction {
        width: 300px;
        margin: 15px 0px;
    }
    .resortin {
        width: 300px;
        text-align: center;
        padding-top: 1060px;
        margin: 10px;
    }
    .bar {
        width: 300px;
        margin-top: 40px;
    }
    .news {
        width: 300px;
        margin-bottom: 20px;
        border: 1px solid;
    }
    .news img {
        height: 180px;
        width: 280px;
        padding-top: 0px;
        padding-left: 0;
        margin: 10px;
    }
    .news text {
        text-align: center;   
    }
    .news h2 {
        color: red;
        margin-left: 0px; 
        padding-top: 10px;
        font-size: 20px;
    }
    .news P {
        color: slategray;
        margin-left: 0px; 
        font-size: 10px;
    }
    .side-img {
        width: 300px;
    }
    .side-img img {
        height: 200px;
        width: 300px;
        margin-top: 10px;
    }
    .slider-ber {
        width: 300px;
        padding-top: 640px;
        padding-left: 0px;
    }
    .slider {
        width: 300px;
        margin: 10px;
    }
    .gallery {
        width: 300px;
        margin: 10px;
        text-align: center;
        background: #eae9e9;
    }
    .gallery h1 {
        color: red;
        font-size: 30px;
        margin-top: 40px;
    }
    .carousel-control-next {
        right: 0px;
        top: 415px;
    }
    .carousel-control-prev {
        left: 0px;
        top: 415px;
    }
    .contain1 img {
        width:320px;
        height: 203px;
        padding-top: 30px;
    } 
    .text-block {
        width: 320px;
        position: absolute;
        text-align: center;
        bottom: 0px;
        right: 0px;
        color: white;
        padding: 16px;
        background: rgba(0, 0, 0, 0.5);
      }
      .text-block h1 {
          font-size: 15px;
      }
      .text-block p {
        padding: 0px;
        font-size: 8px;
    }
    .traveller {
        width: 300px;
        text-align: center;
        padding-left: 0px;
        margin: 10px;
    }
    .traveller h1 {
        color: red;
        font-size: 30px;
        margin-top: 45px;
    }
    .slideshow-container {
        position: relative;
        background: #fff;
        border: 1px solid;
        padding: 15px 25px;
        margin: 0px 0px;
    }
    .mySlides {
        text-align: center;
        background-color: #0e0e3c;
        color: white;
        width: 285px;
        border-radius: 145px 0px 0px 145px;
        height: 115px;
        margin-left: -19px;
    }
    .mySlides img {
        width: 110px;
        height: 116px;
        border: 1px solid;
        border-radius: 50%;
    }
    .mySlides h2 {
        color: #fff;
        padding-top: 5px;
        font-size: 20px;
    }
    .mySlides q {
        font-size: 12px;
        margin: 2px;
    }
    .moments {
        width: 320px;
        text-align: center;
    }
    .moments h1 {
        color: red;
        font-size: 30px;
        margin-top: 15px;
        padding-left: 0px;
    }
    .moments h5 {
        font-size: 15px;
        padding-bottom: 30px;
        padding-left: 0px;
        color: slategray;
    }
    .event-moments-info {
        width: 300px;
        padding: 10px;
    }
    .moments-info {
        width: 300px;
        text-align: left;
        margin: 10px 10px 10px 0px;
    }
    .moments-info img {
        height: 200px;
        width: 300px;
    }
    .moments-info button {
        border: 0px solid;
        padding: 8px 80px;
        border-radius: 20px;
        color: #fff;
        background-color: rgb(175, 6, 6);
        margin-bottom: 8px;
        margin-left: 21px;
    }
    .moments-info h5 {
        margin-top: 20px;
        padding-left: 0px;
        padding-bottom: 0px;
    }
    .info-contain {
        position: relative;
        margin: 0 auto;
        padding-bottom: 40px;   
    }
    .info-contain img {
        width:320px;
        height: 200px;
        padding-top: 30px;
    }
    .info-block {
        position: absolute;
        text-align: center;
        bottom: 40px;
        right: 0px;
        color: white;
        padding: 35px;
        background: rgba(228, 227, 227, 0.5);
    }
    .info-contain h1 {
        float: left;
        color: black;
        font-size: 20px;
    }
    footer {
        width: 320px;
        background-color: rgb(3, 5, 110);
        height: 1000px;
        background-size: cover;
        background-position: center;
        margin-top: 10px;
        padding: 0px;
    }
    .coloum {
        width: 300px;
        padding: 10px
    }
    .coloum1 {
        width: 300px;
        padding-left: 0px;
        padding-right: 0px;
        text-align: center;
    }
    .coloum2 {
        width: 280px;
        text-align: center;
        margin: 10px;
    }
    .coloum3 {
        width: 300px;
        text-align: center;
    }
    .coloum4 {
        width: 300px;
        text-align: center;
    }
    .coloum4 img {
        width: 68px;
        height: 56px;
        margin-top: 15px;
        margin-left: 3px;
    }
    .footer-bottom {
        text-align: center;
        color: white;
        margin-top: 925px;
        font-size: 12px;
    }
}
@media (max-width: 575.98px) {
    header {
        background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(pic/bg/12.jpg);
        height: 100vh;
        width: 575px;
        background-size: cover;
        background-position: center;
    }
    .logo h4 {
        width: 575px;
        color: #ad0202;
        text-align: center;
        margin-top: 20px;
        font-size: 25px;
    }
    .main {
        width: 575px;
        text-align: center;
    }
    .main ul {
        list-style: none;
        margin-top: 20px;
    }
    .main ul li {
        display: inline-block;
    }
    .main ul li a {
        text-decoration: none;
        color: #fff;
        font-size: 18px;
        float: left;
        padding: 5px 110px;
    }
    .main ul li a:hover {
        color: rgb(199, 5, 5);
    }
    .title {
        position: absolute;
        width: 575px;
        top: 65%;
        left: 0%;
    
    }
    .title h3 {
        text-align: center;
        color: #fff;
        font-size: 20px;
        margin-left: 0px;
        margin-bottom: 0px;
        margin-top: 25px;
    }
    .title h1 {
        color: #fff;
        text-align: center;
        font-size: 70px;
        margin-bottom: 0;
    }
    .title h4 {
        color: #fff;
        text-align: center;
        font-size: 20px;
        margin-top: 0px;
        margin-left: 0px;
    }
    .sidebar {
        width: 545px;
        text-align: center;
        margin-top: 40px;
    }
    .recent-news {
        width: 545px;
        margin: 15px;
    }
    .recent-news img {
        height: 345px;
        width: 545px;
    }
    .recent-news h2 {
        color: red;
        padding-top: 215px;
        margin-bottom: 5px;
        margin-left: 0;
        font-size: 20px;
    }
    .recent-news P {
        color: slategray; 
        font-size: 12px;
        margin-left: 0;
    }
    .popular-place {
        width: 545px;
        margin-top: 10px;
        text-align: center;
        margin: 15px;
    }
    .popular-place img {
        height: 345px;
        width: 545px;
    }
    .testmonials {
        text-align: center;
        width: 545px;
        margin-top: 10px;
        margin: 15px;
    }
    .testmonials h1 {
        margin-top: 30px;
        color: red;
        font-size: 30px;    
    }
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 545px;
        margin: auto;
        text-align: center;
        font-family: arial;
        margin-bottom: 20px;
      }
    .about-us {
        width: 545px;
        text-align: center;
        margin-top: 10px;
        margin: 15px;
    }
    .info p{
        width: 545px;
        font-size: 10px;
    }
    .about-us img {
        height: 345px;
        width: 545px; 
        margin: 0px;
    }
    .about-us button {
        margin-top: 20px;
        border: 1px solid;
        padding: 3px 95px;
        background-color: white;
    }
    .about-us button:hover {
        background-color:black;
        color: #fff;
    }
    .plan {
        text-align: center;
        width: 545px;
        margin: 10px;
    }
    .plan h5 {
        font-size: 10px;
    }
    .direction {
        width: 545px;
        margin: 15px 0px;
    }
    .resortin {
        width: 545px;
        text-align: center;
        padding-top: 1060px;
        margin: 10px;
    }
    .bar {
        width: 545px;
        margin-top: 40px;
    }
    .news {
        width: 545px;
        margin-bottom: 20px;
        border: 1px solid;
    }
    .news img {
        height: 104px;
        width: 192px;
        padding-top: 0px;
        padding-left: 0;
        margin: 10px;
    }
    .news text {
        text-align: center;   
    }
    .news h2 {
        color: red;
        margin-left: 0px; 
        padding-top: 10px;
        font-size: 20px;
    }
    .news P {
        color: slategray;
        margin-left: 0px; 
        font-size: 10px;
    }
    .side-img {
        width: 545px;
    }
    .side-img img {
        height: 345px;
        width: 545px;
        margin-top: 10px;
        margin-bottom: 40px;
    }
    .slider-ber {
        width: 545px;
        padding-top: 640px;
        padding-left: 0px;
    }
    .slider {
        width: 545px;
        margin: 15px;
    }
    .gallery {
        width: 545px;
        margin: 15px;
        text-align: center;
        background: #eae9e9;
    }
    .gallery h1 {
        color: red;
        font-size: 30px;
        margin-top: 40px;
    }
    .carousel-control-next {
        right: 0px;
        top: 415px;
    }
    .carousel-control-prev {
        left: 0px;
        top: 415px;
    }
    .contain1 img {
        width:575px;
        height: 265px;
        padding-top: 30px;
    } 
    .text-block {
        width: 575px;
        position: absolute;
        text-align: center;
        bottom: 0px;
        right: 0px;
        color: white;
        padding: 16px;
        background: rgba(0, 0, 0, 0.5);
      }
      .text-block h1 {
          font-size: 15px;
      }
      .text-block p {
        padding: 0px;
        font-size: 8px;
    }
    .traveller {
        width: 545px;
        text-align: center;
        padding-left: 0px;
        margin: 15px;
    }
    .traveller h1 {
        color: red;
        font-size: 30px;
        margin-top: 45px;
    }
    .slideshow-container {
        position: relative;
        background: #fff;
        border: 1px solid;
        padding: 15px 25px;
        margin: 0px 0px;
    }
    .mySlides {
        text-align: center;
        background-color: #0e0e3c;
        color: white;
        width: 527px;
        border-radius: 145px 0px 0px 145px;
        height: 115px;
        margin-left: -19px;
    }
    .mySlides img {
        width: 110px;
        height: 116px;
        border: 1px solid;
        border-radius: 50%;
    }
    .mySlides h2 {
        color: #fff;
        padding-top: 5px;
        font-size: 20px;
    }
    .mySlides q {
        font-size: 12px;
        margin: 2px;
    }
    .moments {
        width: 575px;
        text-align: center;
    }
    .moments h1 {
        color: red;
        font-size: 30px;
        margin-top: 15px;
        padding-left: 0px;
    }
    .moments h5 {
        font-size: 15px;
        padding-bottom: 30px;
        padding-left: 0px;
        color: slategray;
    }
    .event-moments-info {
        width: 545px;
        padding: 15px;
    }
    .moments-info {
        width: 545px;
        text-align: left;
        margin: 15px 15px 15px 0px;
    }
    .moments-info img {
        height: 345px;
        width: 545px;
    }
    .moments-info button {
        border: 0px solid;
        padding: 8px 146px;
        border-radius: 20px;
        color: #fff;
        background-color: rgb(175, 6, 6);
        margin-bottom: 8px;
        margin-left: 80px;
    }
    .moments-info h5 {
        margin-top: 20px;
        padding-left: 0px;
        padding-bottom: 0px;
    }
    .info-contain {
        position: relative;
        margin: 0 auto;
        padding-bottom: 40px;   
    }
    .info-contain img {
        width:575px;
        height: 375px;
        padding-top: 30px;
    }
    .info-block {
        position: absolute;
        text-align: center;
        bottom: 40px;
        right: 0px;
        color: white;
        padding: 35px;
        background: rgba(228, 227, 227, 0.5);
    }
    .info-contain h1 {
        float: left;
        color: black;
        font-size: 20px;
    }
    footer {
        width: 575px;
        background-color: rgb(3, 5, 110);
        height: 1150px;
        background-size: cover;
        background-position: center;
        margin-top: 10px;
        padding: 0px;
    }
    .coloum {
        width: 545px;
        padding: 15px
    }
    .coloum1 {
        width: 545px;
        padding-left: 0px;
        padding-right: 0px;
        text-align: center;
    }
    .coloum2 {
        width: 545px;
        text-align: center;
        margin: 0px;
    }
    .coloum3 {
        width: 545px;
        text-align: center;
    }
    .coloum4 {
        width: 545px;
        text-align: center;
    }
    .coloum4 img {
        width: 170px;
        height: 115px;
        margin-top: 15px;
        margin-left: 3px;
    }
    .footer-bottom {
        text-align: center;
        color: white;
        margin-top: 1070px;
        font-size: 16px;
    }
}
@media (min-width: 576px) and (max-width: 767.98px){
    header {
        background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(pic/bg/12.jpg);
        height: 100vh;
        width: 767px;
        background-size: cover;
        background-position: center;
    }
    .logo h4 {
        width: 767px;
        color: #ad0202;
        text-align: center;
        margin-top: 20px;
        font-size: 25px;
    }
    .main {
        width: 767px;
        text-align: center;
    }
    .main ul {
        list-style: none;
        margin-top: 40px;
    }
    .main ul li {
        display: inline-block;
    }
    .main ul li a {
        text-decoration: none;
        color: #fff;
        font-size: 18px;
        float: left;
        padding: 5px 160px;
    }
    .main ul li a:hover {
        color: rgb(199, 5, 5);
    }
    .title {
        position: absolute;
        width: 767px;
        top: 60%;
        left: 0%;
    
    }
    .title h3 {
        text-align: center;
        color: #fff;
        font-size: 20px;
        margin-left: 0px;
        margin-bottom: 0px;
        margin-top: 45px;
    }
    .title h1 {
        color: #fff;
        text-align: center;
        font-size: 70px;
        margin-bottom: 0;
    }
    .title h4 {
        color: #fff;
        text-align: center;
        font-size: 20px;
        margin-top: 0px;
        margin-left: 0px;
    }
    .content {
        width: 767px;
        margin: auto;
    }
    .sidebar {
        width: 307px;
        float: left;
        text-align: center;
        margin: 65px 0px 15px 15px;
    }
    .sidebar h1 {
        color: red;
        font-size: 20px;
    }
    .sidebar h1 b {
        color: rgb(3, 5, 110);
    }
    .sidebar h5 {
        margin-bottom: 40px;
        color: slategrey;
    }
    .recent-news {
        width: 307px;
        margin-bottom: 20px;
    }
    .recent-news img {
        float: left;
        height: 98px;
        width: 115px;
    }
    .recent-news text {
        float: left;   
    }
    .recent-news h2 {
        color: red;
        margin-left: 0px;
        margin-bottom: 5px;
        font-size: 19px;
        padding-left: 120px;
    }
    .recent-news P {
        color: slategray;
        margin-left: 0px;
        font-size: 10px;
        padding-left: 120px;
    }
    .popular-place {
        text-align: center;
        width: 400px;
        margin-top: 30px;
        margin: 65px 0px 15px 30px;
    }
    .popular-place h1 {
        color: red;
        font-size: 20px;    
    }
    .popular-place h1 b {
        color: rgb(11, 2, 134);
    }
    .popular-place h5 {
        color: slategray;
        margin-bottom: 40px;
    }
    .popular-place img {
        height: 335px;
        width: 400px;
    }
    .testmonials {
        text-align: center;
        width: 727px;
        margin-top: 10px;
        margin: 20px;
    }
    .testmonials h1 {
        margin-top: 30px;
        color: red;
        font-size: 30px;    
    }
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 545px;
        margin: auto;
        text-align: center;
        font-family: arial;
        margin-bottom: 20px;
        }
        .card img {
            width: 80px;
            height: 80px;
            border: 2px solid;
            border-radius: 50%;
            margin-left: 232px;
        }    
    .about-us {
        width: 747px;
        float: left;
        text-align: center;
        margin-top: 10px;
        margin: 10px;
    }
    .info p{
        width: 307px;
        font-size: 10px;
    }
    .about-us img {
        height: 330px;
        width: 430px;
        margin: 00px 0px 0px 10px;
    }
    .about-us button {
        margin-top: 20px;
        border: 1px solid;
        width: 575px;
        padding: 3px 95px;
        background-color: white;
    }
    .about-us button:hover {
        background-color:black;
        color: #fff;
    }
    .plan {
        float: left;
        text-align: center;
        width: 747px;
        margin: 10px;
    }
    .plan h5 {
        font-size: 10px;
    }
    .direction {
        width: 370px;
        margin: 15px 0px;
    }
    .resortin {
        width: 747px;
        float: left;
        text-align: center;
        padding-top: 20px;
        margin: 10px;
    }
    .bar {
        width: 307px;
        margin-top: 40px;
    }
    .news {
        width: 307px;
        margin-bottom: 6px;
        border: 1px solid;
    }
    .news img {
        height: 100px;
        width: 127px;
        padding-top: 0px;
        padding-left: 0;
        margin: 10px;
    }
    .news text {
        text-align: center;   
    }
    .news h2 {
        color: red;
        margin-left: 0px; 
        padding-top: 10px;
        font-size: 20px;
    }
    .news P {
        color: slategray;
        margin-left: 0px;
        font-size: 8px;
        margin-bottom: 10px;
    }
    .side-img {
        width: 440px;
    }
    .side-img img {
        height: 354px;
        width: 425px;
        margin-top: 40px;
        margin-bottom: 40px;
    
    }
    .slider-ber {
        width: 747px;
        padding-top: 440px;
        padding-left: 0px;
    }
    .slider {
        width: 747px;
        margin: 10px;
    }
    .gallery {
        width: 545px;
        margin: 15px 15px 15px 110px;
        text-align: center;
        background: #eae9e9;
    }
    .gallery h1 {
        color: red;
        font-size: 30px;
        margin-top: 40px;
    }
    .carousel-control-next {
        right: 0px;
        top: 415px;
    }
    .carousel-control-prev {
        left: 0px;
        top: 415px;
    }
    .contain1 img {
        width:767px;
        height: 365px;
        padding-top: 30px;
    } 
    .text-block {
        width: 767px;
        position: absolute;
        text-align: center;
        bottom: 0px;
        right: 0px;
        color: white;
        padding: 16px;
        background: rgba(0, 0, 0, 0.5);
        }
        .text-block h1 {
            font-size: 15px;
        }
        .text-block p {
        padding: 0px;
        font-size: 8px;
    }
    .traveller {
        width: 747px;
        text-align: center;
        padding-left: 0px;
        margin: 10px;
    }
    .traveller h1 {
        color: red;
        font-size: 30px;
        margin-top: 45px;
    }
    .slideshow-container {
        position: relative;
        background: #fff;
        border: 1px solid;
        padding: 15px 25px;
        margin: 0px 0px;
    }
    .mySlides {
        text-align: center;
        background-color: #0e0e3c;
        color: white;
        width: 664px;
        border-radius: 191px 0px 0px 191px;
        height: 165px;
        margin-left: 20px;
    }
    .mySlides img {
        width: 176px;
        height: 164px;
        border: 1px solid;
        border-radius: 50%;
    }
    .mySlides h2 {
        color: #fff;
        padding-top: 5px;
        font-size: 20px;
    }
    .mySlides q {
        font-size: 12px;
        margin: 2px;
    }
    .moments {
        width: 767px;
        text-align: center;
    }
    .moments h1 {
        color: red;
        font-size: 30px;
        margin-top: 45px;
        padding-left: 0px;
    }
    .moments h1 b {
        color: rgb(3, 5, 110);
    }
    .moments h5 {
        font-size: 15px;
        padding-bottom: 5px;
        padding-left: 0px;
        color: slategray;
    }
    .event-moments-info {
        width: 767px;
        padding: 10px;
        float: left;
    }
    .moments-info {
        width: 360px;
        float: left;
        text-align: center;
        margin: 6px 6px 20px 7px;
    }
    .moments-info img {
        height: 330px;
        width: 360px;
        float: left;
    }
    .moments-info h5 {
        margin-top: 351px;
        padding-left: 0px;
    }
    .moments-info h1 {
        font-size: 30px;
        color: red;
        margin-top: 0px;
        padding-left: 0px;
    }
    .moments-info p {
        color: black;
        margin-top: 20px;
        font-size: 12px;
    }
    .moments-info button {
        border: 0px solid;
        padding: 7px 25px;
        border-radius: 20px;
        color: #fff;
        background-color: rgb(175, 6, 6);  
    }
    .info-contain {
        position: relative;
        margin: 0 auto;
        padding-bottom: 40px;   
    }
    .info-contain img {
        width:767px;
        height: 375px;
        padding-top: 30px;
    }
    .info-block {
        position: absolute;
        text-align: center;
        bottom: 40px;
        right: 0px;
        color: white;
        padding: 35px;
        background: rgba(228, 227, 227, 0.5);
    }
    .info-contain h1 {
        float: left;
        color: black;
        font-size: 20px;
    }
    footer {
        width: 767px;
        background-color: rgb(3, 5, 110);
        height: 512px;
        background-size: cover;
        background-position: center;
        margin-top: 10px;
        padding: 0px;
    }
    .coloum {
        width: 747px;
        padding: 10px
    }
    .coloum1 {
        width: 545px;
        padding-left: 0px;
        padding-right: 0px;
        text-align: center;
        margin-left: 110px;
    }
    .coloum2 {
        width: 178px;
        text-align: center;
        margin: 0px;
    }
    .coloum2 ul li {
        padding: 5px 0px;
        line-height: 17px;
    }
    .coloum2 h3 {
        color: white;
        font-size: 24px;
    }
    .coloum3 {
        width: 174px;
        text-align: center;
        float: left;
    }
    .coloum2 h3 {
        color: white;
        font-size: 24px;
    }
    .coloum4 {
        width: 375px;
        text-align: center;
    }
    .coloum2 h3 {
        color: white;
        font-size: 24px;
    }
    .coloum4 img {
        width: 87px;
        height: 80px;
        margin-top: 7px;
        margin-left: 3px;
    }
    .footer-bottom {
        text-align: center;
        color: white;
        margin-top: 445px;
        font-size: 16px;
    }
}
@media (min-width: 768px) and (max-width: 991.98px){
    header {
        background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(pic/bg/12.jpg);
        height: 100vh;
        width: 991px;
        background-size: cover;
        background-position: center;
    }
    .logo h4 {
        width: 991px;
        color: #ad0202;
        text-align: center;
        margin-top: 20px;
        font-size: 25px;
    }
    .main {
        width: 991px;
        text-align: center;
    }
    .main ul {
        list-style: none;
        margin-top: 40px;
    }
    .main ul li {
        display: inline-block;
    }
    .main ul li a {
        text-decoration: none;
        color: #fff;
        font-size: 18px;
        float: left;
        padding: 5px 260px;
    }
    .main ul li a:hover {
        color: rgb(199, 5, 5);
    }
    .title {
        position: absolute;
        width: 991px;
        top: 60%;
        left: 0%;
    
    }
    .title h3 {
        text-align: center;
        color: #fff;
        font-size: 20px;
        margin-left: 0px;
        margin-bottom: 0px;
        margin-top: 45px;
    }
    .title h1 {
        color: #fff;
        text-align: center;
        font-size: 70px;
        margin-bottom: 0;
    }
    .title h4 {
        color: #fff;
        text-align: center;
        font-size: 20px;
        margin-top: 0px;
        margin-left: 0px;
    }
    .content {
        width: 991px;
        margin: auto;
    }
    .sidebar {
        width: 400px;
        float: left;
        text-align: center;
        margin: 65px 0px 15px 15px;
    }
    .sidebar h1 {
        color: red;
        font-size: 20px;
    }
    .sidebar h1 b {
        color: rgb(3, 5, 110);
    }
    .sidebar h5 {
        margin-bottom: 40px;
        color: slategrey;
    }
    .recent-news {
        width: 400px;
        margin-bottom: 20px;
    }
    .recent-news img {
        float: left;
        height: 100px;
        width: 172px;
    }
    .recent-news text {
        float: left;   
    }
    .recent-news h2 {
        color: red;
        margin-left: 0px;
        margin-bottom: 5px;
        font-size: 19px;
        padding-left: 120px;
    }
    .recent-news P {
        color: slategray;
        margin-left: 0px;
        font-size: 11px;
        padding-left: 185px;
    }
    .popular-place {
        float: left;
        text-align: center;
        width: 540px;
        margin-top: 30px;
        margin: 65px 0px 15px 30px;
    }
    .popular-place h1 {
        color: red;
        font-size: 20px;    
    }
    .popular-place h1 b {
        color: rgb(11, 2, 134);
    }
    .popular-place h5 {
        color: slategray;
        margin-bottom: 40px;
    }
    .popular-place img {
        height: 360px;
        width: 400px;
    }
    .testmonials {
        text-align: center;
        width: 991px;
        margin-top: 10px;
        margin: 20px;
    }
    .testmonials h1 {
        margin-top: 30px;
        color: red;
        font-size: 30px;    
    }
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 545px;
        margin: auto;
        text-align: center;
        font-family: arial;
        margin-bottom: 20px;
        }
        .card img {
            width: 80px;
            height: 80px;
            border: 2px solid;
            border-radius: 50%;
            margin-left: 232px;
        }    
    .about-us {
        width: 951px;
        float: left;
        text-align: center;
        margin-top: 10px;
        margin: 20px;
    }
    .info p{
        width: 400px;
        font-size: 12px;
    }
    .about-us img {
        height: 370px;
        width: 531px;
        margin: 0px 10px 0px 10px;    
    }
    .about-us button {
        margin-top: 20px;
        border: 1px solid;
        width: 575px;
        padding: 3px 95px;
        background-color: white;
    }
    .about-us button:hover {
        background-color:black;
        color: #fff;
    }
    .plan {
        float: left;
        text-align: center;
        width: 971px;
        margin: 10px;
    }
    .plan h5 {
        font-size: 10px;
    }
    .direction {
        width: 455px;
        margin: 15px 15px;
    }
    .resortin {
        float: left;
        width: 971px;
        text-align: center;
        padding-top: 20px;
        margin: 10px;
    }
    .bar {
        width: 400px;
        margin-top: 40px;
    }
    .news {
        width: 400px;
        margin-bottom: 10px;
        border: 1px solid;
    }
    .news img {
        height: 108px;
        width: 153px;
        padding-top: 0px;
        padding-left: 0;
        margin: 10px;
    }
    .news text {
        text-align: center;   
    }
    .news h2 {
        color: red;
        margin-left: 0px; 
        padding-top: 10px;
        font-size: 20px;
    }
    .news P {
        color: slategray;
        margin-left: 0px;
        font-size: 8px;
        margin-bottom: 38px;
    }
    .side-img {
        width: 440px;
    }
    .side-img img {
        height: 410px;
        width: 568px;
        margin-top: 40px;
        margin-bottom: 40px;
    
    }
    .slider-ber {
        width: 991px;
        padding-top: 440px;
        padding-left: 0px;
    }
    .slider {
        width: 971px;
        margin: 10px;
    }
    .gallery {
        width: 545px;
        margin: 15px 15px 15px 230px;
        text-align: center;
        background: #eae9e9;
    }
    .gallery h1 {
        color: red;
        font-size: 30px;
        margin-top: 40px;
    }
    .carousel-control-next {
        right: 0px;
        top: 415px;
    }
    .carousel-control-prev {
        left: 0px;
        top: 415px;
    }
    .contain1 img {
        width:991px;
        height: 365px;
        padding-top: 30px;
    } 
    .text-block {
        width: 991px;
        position: absolute;
        text-align: center;
        bottom: 0px;
        right: 0px;
        color: white;
        padding: 16px;
        background: rgba(0, 0, 0, 0.5);
        }
        .text-block h1 {
            font-size: 15px;
        }
        .text-block p {
        padding: 0px;
        font-size: 8px;
    }
    .traveller {
        width: 971px;
        text-align: center;
        padding-left: 0px;
        margin: 10px;
    }
    .traveller h1 {
        color: red;
        font-size: 30px;
        margin-top: 45px;
    }
    .slideshow-container {
        position: relative;
        background: #fff;
        border: 1px solid;
        padding: 15px 25px;
        margin: 0px 0px;
    }
    .mySlides {
        text-align: center;
        background-color: #0e0e3c;
        color: white;
        width: 900px;
        border-radius: 191px 0px 0px 191px;
        height: 270px;
        margin-left: 20px;
    }
    .mySlides img {
        width: 274px;
        height: 270px;
        border: 1px solid;
        border-radius: 50%;
    }
    .mySlides h2 {
        color: #fff;
        padding-top: 78px;
        font-size: 20px;
    }
    .mySlides q {
        font-size: 12px;
        margin: 2px;
    }
    .moments {
        width: 991px;
        text-align: center;
    }
    .moments h1 {
        color: red;
        font-size: 30px;
        margin-top: 45px;
        padding-left: 0px;
    }
    .moments h1 b {
        color: rgb(3, 5, 110);
    }
    .moments h5 {
        font-size: 15px;
        padding-bottom: 5px;
        padding-left: 0px;
        color: slategray;
    }
    .event-moments-info {
        width: 971px;
        padding: 10px;
        float: left;
    }
    .moments-info {
        width: 445px;
        float: left;
        text-align: center;
        margin: 6px 6px 20px 24px;
    }
    .moments-info img {
        height: 330px;
        width: 445px;
        float: left;
    }
    .moments-info h5 {
        margin-top: 351px;
        padding-left: 0px;
    }
    .moments-info h1 {
        font-size: 30px;
        color: red;
        margin-top: 0px;
        padding-left: 0px;
    }
    .moments-info p {
        color: black;
        margin-top: 20px;
        font-size: 12px;
    }
    .moments-info button {
        border: 0px solid;
        padding: 7px 25px;
        border-radius: 20px;
        color: #fff;
        background-color: rgb(175, 6, 6);  
    }
    .info-contain {
        position: relative;
        margin: 0 auto;
        padding-bottom: 40px;   
    }
    .info-contain img {
        width:991px;
        height: 375px;
        padding-top: 30px;
    }
    .info-block {
        position: absolute;
        text-align: center;
        bottom: 40px;
        right: 0px;
        color: white;
        padding: 35px;
        background: rgba(228, 227, 227, 0.5);
    }
    .info-contain h1 {
        float: left;
        color: black;
        font-size: 20px;
    }
    footer {
        width: 991px;
        background-color: rgb(3, 5, 110);
        height: 512px;
        background-size: cover;
        background-position: center;
        margin-top: 10px;
        padding: 0px;
    }
    .coloum {
        width: 971px;
        padding: 10px
    }
    .coloum1 {
        width: 970px;
        padding-left: 0px;
        padding-right: 0px;
        text-align: center;
        margin-left: 0px;
    }
    .coloum2 {
        width: 178px;
        text-align: center;
        margin: 0px;
    }
    .coloum2 ul li {
        padding: 11px 0px;
        line-height: 17px;
    }
    .coloum2 h3 {
        color: white;
        font-size: 24px;
    }
    .coloum3 {
        width: 174px;
        text-align: center;
        float: left;
    }
    .coloum2 h3 {
        color: white;
        font-size: 24px;
    }
    .coloum4 {
        width: 575px;
        text-align: center;
        padding-left: 20px;
    }
    .coloum2 h3 {
        color: white;
        font-size: 24px;
    }
    .coloum4 img {
        width: 129px;
        height: 92px;
        margin-top: 9px;
        margin-left: 6px;
    }
    .footer-bottom {
        text-align: center;
        color: white;
        margin-top: 445px;
        font-size: 16px;
    }
}

